p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Roboto, Arial;
    margin:0;
    padding-top: 80px;

    background-color: #181818;
    color: white;

    padding-left: 90px;
    padding-right: 25px;
}

a {
    text-decoration: none;
}