.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

/* left-section */
/* left-section */

.left-section {
    width: 240px;
    display: flex;
    align-items: center;
}

.var-menu {
    height: 25px;
    margin-left: 22px;
    margin-right: 20px;
}

.youtube-logo {
    height: 82px;
    cursor: pointer;
}

/* middle-section */
/* middle-section */

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 660px;
    display: flex;
    align-items: center;

}

.search-bar {
    flex:1.5;
    height: 35px;
    width: 0;
    padding-left: 20px;
    font-size: 15px;

    
    background-color: #181818;
    color: white;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border:1px solid #4d4d4d;
}

.search-button {
    height: 35px;
    width: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.voice-search-button {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: #4d4d4d;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.tooltip {
    color: white;
    background-color: gray;
    font-size: 12px;

    position: absolute;
    padding : 8px;
    border-radius: 5px;
    left: -20px;
    bottom: -40px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.voice-search-button:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 20px;
}

.voice-search-icon {
    height: 22px;
    
}


/* right-section */
/* right-section */

.right-section {
    width: 250px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.video-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    font-size: 13px;
    background-color: #4d4d4d;
    border-radius: 20px;
}

.video-upload-icon {
    height: 20px;
    padding-right: 8px;
}

.upload-icon {
    height: 25px;
}


.alim-icon {
    height: 25px;
}

.user-icon {
    height: 30px;
    border-radius: 20px;
}

